:root {
    --mono: "Oxygen Mono", monospace;
    --sans: "Oxygen", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    font-weight: 400;
    background-color: white;
    color: black;
}

.blue {
    color: #4126e8;
}

.blue:hover {
    color: aqua;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.line-gradient {
    background: #fafafa;
    height: 3px;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 18px;

    max-width: 16000px;
    margin: auto;
    color: black;
}

#main-nav img {
    width: 40px;
    border-radius: 10px;
    padding: 5px;
}
#main-nav img:hover {
    background-color: rgba(184, 184, 184, 0.3);
}

#main-nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    gap: 30px;
    margin: 1rem;
}

#main-nav li {
    padding: 3px;
    margin: 0;
}

.page-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
    max-width: 1500px;
}

.page-menu li:first-child a {
    color: #fd584d;
}
.page-menu li:first-child a:hover {
    color: rgb(255, 0, 0);
}

#page {
    max-width: 1200px;
    margin: auto;
}

#page .intro-img {
    display: flex;
    width: 1200px;
    height: 600px;
    margin: auto;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    background-image: url("../img/pexels-zulian-yuliansyah-2086669.jpg");
    background-size: cover;

    font-size: 130px;
    color: #fd584d;
    font-weight: 700;
}

#page .text {
    max-width: 750px;
    margin: 100px auto;
    font-size: 20px;
}

#page .text p:first-child {
    font-weight: 700;
    font-size: 25px;
}
#page .photos {
    display: flex;
    gap: 1rem;
    margin: auto;
    align-items: center;
    height: 900px;

    position: relative;
}
#page .photos img {
    object-fit: cover;
}
#page .photos .sqr1 {
    width: 800px;
    height: 700px;
    background-color: rgb(250, 255, 169);
    position: relative;
    left: 550px;
    top: 0;
}

#page .photos img:nth-child(2) {
    width: 600px;
    height: 500px;
    position: absolute;
}

#page .photos img:nth-child(3) {
    width: 500px;
    height: 300px;
    position: absolute;
    right: 0;
}
